@model IEnumerable<Web.Models.MetodoPago>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
}

<h1>Métodos de pago</h1>

<p>
    <a asp-action="Create">Crear nuevo método de pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descripción
            </th>
            <th>
                Variación de pago
            </th>
            <th>
                Monto de variación
            </th>
            <th>
                Fecha de registro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VariaciónPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoVariacion) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">
                            <i class="bi bi-info-circle"></i>
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
